body{
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}
.section{
    margin-left: 20px;
}
.header{
    font-size: 24px;
}
.header h1{
    font-size: 28px;
}
.header h1+p{
    font-style: italic;
}

