
body {
    font-family: 'Roboto', sans-serif;
    background-color: #e2d7aa;
    color: #000000;
    font-size: 16px;
    width: 1180px;
    margin: 0 auto;
}
  
  
img {
    width: 1100px;
    height: 450px;
}
  
  
.img-container {
    width: 1600px;
    height: 450px;
    margin-top: 65px;
}
  
  
h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 65px;
    font-family: 'Indie Flower', cursive;
}
  
  
nav {
    margin: 30px;
}
  
nav ul {
    list-style: none;
    margin: 30px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
  
nav li {
    display: inline-block;
    margin-right: 20px;
}
  
nav a {
    font-size: 28px;
    color: #000000;
    text-decoration: none;
}
  
  
a {
    font-size: 28px;
    color: #000000;
}
  
.home {
    font-weight: bold;
    color: #0a2d4a;
}
  
  
article img {
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
}
  
  
article p:first-letter {
    font-family: 'EucrosiaUPC', sans-serif;
    font-size: 40px;
}
  
  
span a {
    background: url("images/bg2.jpg");
    color: #ffffff;
    padding: 10px;
    margin-top: 10px;
}
  
  
footer {
    margin: 0;
    padding: 10px 0 10px 0;
    text-align: center;
}
  

  
article p:last-of-type span:first-of-type a::before {
    content: url("images/comment.png");
    position: relative;
    right: 5px;
    top: 7px;
    padding: 1px;
    
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
article {
    width: 30;
    margin: 10px;
}
article a{
    color: rgb(255, 255, 255);
    font-size: 20px;
}
article p{
    ju
}